@import "tailwindcss";


@theme {
  --color-primary: #FFF6F8;     /* Page + header background */
  --color-secondary: #2F2F2F;  /* Text */
  --color-accent: #C2185B;     /* Brand / buttons / active */
  --color-muted: #E6E6E6;      /* Borders / hover bg */
}


body {
  font-family: "Inter", sans-serif;
}

